@font-face {
    font-family: 'BNPPSansRegular';
    src: url('../fonts/bnpp_sans-webfont-0.eot');
    src: url('../fonts/bnpp_sans-webfont-0_iefix.eot') format('embedded-opentype'), url('../fonts/bnpp_sans-webfont-0.woff') format('woff'), url('../fonts/bnpp_sans-webfont-0.ttf') format('truetype'), url('../fonts/bnpp_sans-webfont-0_BNPPSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BNPPSansLight';
    src: url('../fonts/BNPPSansLight.eot');
    src: url('../fonts/BNPPSansLight_iefix.eot') format('embedded-opentype'), url('../fonts/BNPPSansLight.woff') format('woff'), url('../fonts/BNPPSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BNPPSansCond_Light';
    src: url('../fonts/BNPPSansCondLightv2.eot');
    src: url('../fonts/BNPPSansCondLightv2_iefix.eot') format('embedded-opentype'), url('../fonts/BNPPSansCondLightv2.woff') format('woff'), url('../fonts/BNPPSansCondLightv2.ttf') format('truetype'), url('../fonts/BNPPSansCondLightv2_BNPPSansCond_Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
